

  
  
  /* INPUTFIELD_________________________________________________ */
  :root {
    --input-color: #99a3ba;
    --input-border: #cdd9ed;
    --input-background: #fff;
    --input-placeholder: #cbd1dc;
  
    --input-border-focus: #275efe;
  
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #eef4ff;
  
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678efe;
  }
  
  .formfield {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
    &::placeholder {
      color: var(--input-placeholder);
    }
    &:focus {
      outline: none;
      border-color: var(--input-border-focus);
    }
  }
  
  .formgroup{
    position: relative;
    display: flex;
    width: 100%;
    & > span,
    button .formfield {
      white-space: nowrap;
      display: block;
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
      &:first-child {
        border-radius: 6px 0 0 6px;
      }
      &:last-child {
        border-radius: 0 6px 6px 0;
      }
      &:not(:first-child) {
        margin-left: -1px;
      }
    }
    .formfield {
      position: relative;
      z-index: 1;
      flex: 1 1 auto;
      width: 1%;
      margin-top: 0;
      margin-bottom: 0;
    }
    & > span,
    button {
      text-align: center;
      border-radius: 6px;
      padding: 8px 24px; 
      font-size: 14px;
      line-height: 25px;
      color: var(--group-color);
      background: var(--group-background);
      border: 1px solid var(--group-border);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
    &:focus-within {
      & > span {
        color: var(--group-color-focus);
        background: var(--group-background-focus);
        border-color: var(--group-border-focus);
      }
    }
  }
  button:hover {
    color: var(--group-color-focus);
    background: rgb(39, 161, 8);
    border-color: var(--group-border-focus);
  }
  
  /* 16px 24px */